<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lalafood">
    <!-- Bật quyền sử dụng internet để lấy API từ heroku -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name="com.example.lalafood.Customers.Activity.CustomerMainSearch" />
        <activity android:name="com.example.lalafood.Customers.Activity.RestaurantsDishes" />
        <activity android:name="com.example.lalafood.Customers.Activity.CustomerSearchedRestaurant" />
        <activity android:name="com.example.lalafood.Customers.Activity.CustomerOrderCompleted" />
<!--         <activity android:name=".login.Activity.SignInAndSignUp"></activity> -->
        <!-- <activity android:name=".TestAPI"></activity> -->
        <!-- <activity -->
        <!-- android:name=".Customer.RestaurantsDishes" -->
        <!-- android:theme="@style/AppTheme"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- TEST -->
        <activity
            android:name="com.example.lalafood.Login.Activity.MainLogin"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- orders -->
        <activity android:name="com.example.lalafood.Shippers.Activity.ShippersMainActivity" />
        <activity
            android:name="com.example.lalafood.Shippers.Activity.GetOrderActivity"
            android:label="@string/app_name" /> <!-- Login -->
        <activity
            android:name="com.example.lalafood.Login.Activity.SignInAndSignUp"
            android:theme="@style/AppTheme" />
        <activity android:name="com.example.lalafood.Login.Activity.CreatePassword" />
        <activity android:name="com.example.lalafood.Login.Activity.LoginPassword" />
        <activity android:name="com.example.lalafood.Login.Activity.CreatePhoneNumber" />
        <activity android:name="com.example.lalafood.Login.Activity.LoginPhoneNumber" />
        <activity android:name="com.example.lalafood.Login.Activity.FormCreateAccount" />
    </application>

</manifest>